.header {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid ;
}

.header h1 {
    color: #f1356d;
}

.header .links {
    margin-left: auto;
    display: flex;
}

.header a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}
.header a:hover {
    color: #f1356d;
}